@page
@using zuiderzorg.Models
@model zuiderzorg.Pages.Product_Select_PageModel
@inject Auth.AuthChecker auth
@inject CommonLocalizationService localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<head>
    <link href="~/css/CategoryStyle.css" rel="stylesheet"/>
</head>


<body style="background-color: #F9EFEF">
    <div class="container-fluid">
        <div class="row row-cols-2">
            <div class="col-lg-3">
                <div class="row row-cols-1">
                    <div class="col-xl-12 mb-4">
                        <button class="Basic" onclick="document.location='/index'" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-title="@localizer.Get("Terug knop")" data-bs-content="@localizer.Get("Met deze knop kunt u terug naar de vorige pagina.")" data-bs-placement="left" >
                            <img src="/images/CatagoryIcons/BackIcon.png" class="img-fluid imgIcons" height=100 width=100 style="padding: 20px; padding-bottom: 27px;"/>
                            <br/>
                            <strong class="h2">Terug</strong>
                        </button>
                    </div>
                    <div class="col-xl-12 mb-4">
                        <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')">
                            <i class="bi bi-info-square" style="font-size: 100%; color: #6CBF2A;"></i>
                            <br/>
                            <strong class="h2">Informatie</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xxl">
                <div class="row row-cols-auto align-items-center" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-title="@localizer.Get("Categorieën")" data-bs-content="@localizer.Get("Met deze knoppen kunt u naar de weergeven categorieën navigeren, hier kunt u producten zien om eventueel te kopen.")" data-bs-placement="right">
                @{
                    var db = new CategoryContext();
                    var CatInfo = db.Categories.ToArray();
                    foreach (var item in CatInfo)
                    {
                        <div class="col-xxl-4 mb-4">
                            <button class="Basic" onclick="document.cookie = 'CategoryId=@item.CategoryId';localStorage.setItem('CategoryId', '@item.CategoryId'); document.location = '/nl/productenselectie'">
                                <img src="/images/CatagoryIcons/InfoIcon.png" class="img-fluid imgIcons" height=100 width=100/><br/>
                                <strong class="h2">@item.Name</strong>
                            </button>
                        </div>
                    }
                }
                    <div class="col-xxl-4 mb-4">
                        <button type="button" class="Basic Add" onclick="openForm()">
                            <img src="/images/CatagoryIcons/PlusIcon.png" class="img-fluid imgIcons" height=100 width=100 style="padding: 20px;"/>
                            <br>
                            <strong class="h2">@localizer.Get("Toevoegen")</strong>
                        </button>
                        @* <button class="Add" onclick="RemoveOpen()"> *@
                        @*     <img src="/images/CatagoryIcons/EditIcon.png" height=100 width=100/> *@
                        @*     <br/> *@
                        @*     <strong>Aanpassen</strong> *@
                        @* </button> *@
                    </div>
                </div>
            </div>
           
        </div>
         <div class="col">
            <button class="Arrow" id="ArrowUp" value="false" onclick="scrolling(value)"><i class="bi bi-arrow-up-square-fill" style="font-size:4vw;color:#6CBF2A;position:relative;"></i> <br /> <strong>Naar boven</strong></button>
            <button class="Arrow" id="ArrowDown" value="true" onclick="scrolling(value)"><i class="bi bi-arrow-down-square-fill" style="font-size:4vw;color:#6CBF2A;position:relative;"></i> <br /> <strong>Naar beneden</strong></button>
        </div>
    </div>
    <div class="form-popup" id="myForm">
        <div class="center"> 
            <form enctype="multipart/form-data" class="form-container" method="post">
                <div asp-validation-summary="ModelOnly">
                </div>
                    <h1>Toevoegen</h1>
                    <label for="CategoryRequest.Name"><b>Titel</b></label>
                    <input for="CategoryRequest.Name" type="text" placeholder="Vul een naam in" name="CategoryName" required>
                    @*<span asp-validation-for="CategoryRequest.Name"> </span>*@+
                    @*<span asp-validation-for="CategoryRequest.Name"> </span>*@
                    
                    <label asp-for="FileUpload"><b>Icoon</b></label>
                    <input type="file" asp-for="FileUpload" placeholder="Voeg een foto toe.">
                    <span asp-validation-for="FileUpload"></span>
                    <br />

                    <input asp-for="Option" type="hidden" name="Option" id="Option" value="Add">
                    <button type="submit" class="btn">@localizer.Get("Toevoegen")</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Annuleren</button>
            </form>
        </div>
    </div>
    <div class="form-popup" id="EditCategory">
        <div class="center">
            <form enctype="multipart/form-data" class="form-container" method="post">
                <div asp-validation-summary="ModelOnly">
                </div>
                    @{
                        if (Request.Cookies["CategoryId"] != null)
                        {
                        var categrories = CatInfo.Where(x => x.CategoryId == Guid.Parse(Request.Cookies["CategoryId"])).ToArray();
                        if (categrories.Any())
                            {
                            var category = categrories[0];
                            <h1>Aanpassen</h1>
                            <h1>Toevoegen</h1>
                            <label for="CategoryRequest.Name"><b>Titel</b></label>
                            <input for="CategoryRequest.Name" type="text" placeholder="Vul een naam in" name="CategoryName" value="@category.Name" required>
                                @*<span asp-validation-for="CategoryRequest.Name"> </span>*@

                            <label asp-for="FileUpload"><b>Icoon</b></label>
                            <input type="file" asp-for="FileUpload" placeholder="Voeg een foto toe.">
                            <span asp-validation-for="FileUpload"></span>
                            <br />

                            <input asp-for="Option" type="hidden" name="Option" id="Option" value="Edit">

                            <button type="submit" class="btn">Aanpassen</button>
                            <button type="button" class="btn cancel" onclick="EditClose();document.cookie='EditId=@category.CategoryId';">Annuleren</button>

                            }
                        }
                    }
            </form>
        </div>
        
    </div>
        <div class="form-popup" id="RemoveCategory">
            <div class="center">
                <form enctype="multipart/form-data" class="form-container" method="post" onsubmit="GetID()">
                    <div asp-validation-summary="ModelOnly">
                    </div>

                    <h1>Aanpassen</h1>
                        @{
                            foreach (var item in CatInfo)
                            {
                            <label style="padding-right:100px"><b>@item.Name</b></label>
                        <button type="button" onclick="reloadP();RemoveClose();EditOpen();document.c;document.cookie = 'CategoryId=@item.CategoryId;'">Aanpassen</button>
                        <button type="submit" onclick="document.cookie = 'CategoryId=@item.CategoryId'"> Remove</button>
                            <br />
                            }
                        }
                    <br />
                    <input asp-for="Option" type="hidden" name="Option" id="Option" value="Remove">
                    <button type="button" class="btn cancel" onclick="RemoveClose()">Annuleren</button>
                </form>
            </div>
        </div>
    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

    //Functions for the scrollarrows
    window.onscroll = function() {PositionCheck()};
    window.onload = function () {
        ArrowCheck();
        PositionCheck();
    }

    function scrolling(n) {
        var scrolloffset = $(window).height();
        scrolloffset *= 0.87;
        var top = document.documentElement.scrollTop || document.body.scrollTop;
        if (n == "true") {
            var newscroll = top + scrolloffset;
        } else {
            var newscroll = top - scrolloffset;
        }
        window.scrollTo({ top: newscroll, behavior: 'smooth' })
    }

    function PositionCheck() {
        if (document.documentElement.scrollTop == 0) {
            document.getElementsByClassName("Arrow")[0].style.visibility = "hidden";
        } else {
            document.getElementsByClassName("Arrow")[0].style.visibility = "visible";
        }

        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            document.getElementsByClassName("Arrow")[1].style.visibility = "hidden";
        } else {
            document.getElementsByClassName("Arrow")[1].style.visibility = "visible";
        }
    }

        // Function to check if the arrows are neccesary.
    function ArrowCheck() {
            // Only make the up and down arrows appear if there are more than 3 products
            productAmount = $('.Basic').length;
            if (productAmount > 6) {
                document.getElementsByClassName("Arrow")[0].style.visibility = "visible";
                document.getElementsByClassName("Arrow")[1].style.visibility = "visible";
            }
        }

    function ToFavourites() {
        location.href = "http://localhost:5090/nl/favorietenpagina/favorieten";
        localStorage.setItem("location", (window.location.href).toString());
    }

    function EditOpen() {
        document.getElementById("EditCategory").style.display = "block";
    }

    function EditClose() {
        document.getElementById("EditCategory").style.display = "none";
    }
    function RemoveOpen() {
        document.getElementById("RemoveCategory").style.display = "block";
    }

    function RemoveClose() {
        document.getElementById("RemoveCategory").style.display = "none";
    }
    function GetID() {
        var fr = document.getElementById("CategorieID");
        return fr.value = localStorage.getItem('CategoryId');
    }

    window.onload = function () {
        var reloading = sessionStorage.getItem("reloading");
        if (reloading) {
            sessionStorage.removeItem("reloading");

            EditOpen();
        }
    }

    function reloadP() {
        sessionStorage.setItem("reloading", "true");
        document.location.reload();
    }
    </script>

</body>